﻿@using TaxClient.Enums
@model CalculateSalesTaxRequestViewModel

@{
    var enumList = Enum.GetValues(typeof(TaxCalculatorType)).Cast<TaxCalculatorType>()
        .Select(x => new SelectListItem(x.ToString(), x.ToString()));
}

<div class="card mt-lg-5">
    <div class="card-body">
        @using (Html.BeginForm("CalculateTaxes", "Home", FormMethod.Post, new { id = "CalculateTaxesForm" }))
        {
            <h3>CalculateTaxes method</h3>
            <div class="row">
                @Html.LabelFor(x => x.TaxCalculatorType, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.TaxCalculatorType, enumList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TaxCalculatorType)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Amount, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Amount)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Shipping, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Shipping, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Shipping)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.FromStreet, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.FromStreet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FromStreet)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.FromZip, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.FromZip, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FromZip)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.FromCity, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.FromCity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FromCity)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.FromState, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.FromState, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FromState)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.FromCountry, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.FromCountry, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FromCountry)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(x => x.ToStreet, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ToStreet, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ToStreet)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.ToZip, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ToZip, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ToZip)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.ToCity, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ToCity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ToCity)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.ToState, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ToState, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ToState)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.ToCountry, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ToCountry, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ToCountry)
                </div>
            </div>
            <button id="CalculateTaxes" type="button" class="btn btn-primary">Calculate Taxes</button>
        }
        <div id="CalculateTaxesResponse" class="card card-body"></div>
    </div>
</div>