﻿@using TaxClient.Enums
@model GetTaxRatesRequestViewModel

@{
    var enumList = Enum.GetValues(typeof(TaxCalculatorType)).Cast<TaxCalculatorType>()
        .Select(x => new SelectListItem(x.ToString(), x.ToString()));
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("GetTaxRates", "Home", FormMethod.Post, new { id = "GetTaxRatesForm" }))
        {
            <h3>GetRates method</h3>
            <div class="row">
                @Html.LabelFor(x => x.TaxCalculatorType, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.TaxCalculatorType, enumList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TaxCalculatorType)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Street, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Street)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.City, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.City)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Zip, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Zip)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.County, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.County, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.County)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.State, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.State)
                </div>
            </div>
            <button id="GetTaxRatesButton" type="button" class="btn btn-primary">Get Tax Rates</button>
        }
        <div id="GetTaxRatesResponse" class="card card-body"></div>
    </div>
</div>