﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Sales Tax Api</h1>
    </div>
    
    @{
        await Html.RenderPartialAsync("GetTaxRatesForm", new GetTaxRatesRequestViewModel());
        await Html.RenderPartialAsync("CalculateTaxesForm", new CalculateSalesTaxRequestViewModel());
    }
</div>
